<app-navbar-logged></app-navbar-logged>
<div class="container">
    <div class="row">
      <div class="col-md-4 mt-5">
        <div class="card border-0 shadow p-3">
          <div class="form-floating mb-3">
              <h5 class="text-center text-dark">Add Picture</h5>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control" 
              id="category"
              name="category"
              [(ngModel)] = category
            />
            <label for="category">Category</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control" 
              id="description"
              name="description"
              [(ngModel)] = description
            />
            <label for="description">Description</label>
          </div>

          
          <div class="form-floating mb-3">
            <input type="file"  accept="image/*" name="file" id="file" class="text-nowrap text-truncate" (change)="selectedFile($event)">
          </div>
          <div class="progress mt-2">
            <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: percentage + '%'}">
              {{percentage}}
            </div>
          </div>


          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="addCategory()"
            >
                Add Category
          </button>
        </div>
      </div>


      <div class="col-md-8 mt-5">
        <h5 class="text-dark">Category List</h5>
        <div class="card p-3 shadow">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categoryList">
                            <td>{{category.category}}</td>
                            <td>{{category.description}}</td>
                            <td><img src="{{category.url}}" alt="file" style="width: 10em; height: 10em;"></td>
                            <td><button class="btn btn-outline-danger" (click)="deleteCategory(category)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    </div>
</div>
