<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col">

        </div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Login</h4>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
                        </div>
                        <div class="d-grid gap-2 ">
                            <button type="button " class="btn btn-primary mt-3" (click)="login()">Login</button>
                        </div>
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6 mt-4 text-center">
                                <a href="/forgot-password" class="text-dark" style="text-decoration: none;">Forgot Password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>